.button{
    height: 50px;
    width: 100px;
    background-color: chocolate;
    font-size: 30px;
    color: white;
    justify-items: center;
    font-weight: 600;

    &.green{
        background-color: #28a745;
    }
    &.yellow{
        background-color: #ffc107;
    }
    &.red{
        background-color: #dc3545;
    }
}